*{
font-family: arial;
}

body {
padding-top: 0px;

}
.navbar{
	z-index: 10;
	
}


.nav-link {
	color: red;
	text-transform: uppercase;
}

nav ul li:hover{
	background-color: #cc8593;
	border-radius: 3px;
	border: 1px solid a35565;
}


nav {
	height: 65px;
}
 .navbar-brand {
	 margin-top: 0;
 }
nav ul li {
	 
}
.stripe {
  position: relative;
  margin-bottom: 5px;
  }

.stripe:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;

  height: 3px;
  background: repeating-linear-gradient(
  90deg,
      #a35565,
      #a35565 17%,
      #928d91 17%,
      #928d91 34%,
      #cc8593 34%,
      #cc8593 50%,
      #ccc4b7 50%,
      #ccc4b7 67%,
      #ebccd4 67%,
      #ebccd4 84%,
      #ebebe9 84%,
      #ebebe9 100%
    );
  background-size: 100%;
  
}

#about {
	
	
	text-align: center;

}

hr {
	width: 90%;
}

#contact p{
	text-align: center;
}


h4, h5{
	text-align: center;
}

form {
	padding: 20px;
	background-color: #ebebe9;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
	height: 300px;
	
}

.form-control {
	margin-bottom: 5px;
}
.working-time {
	text-indent: 30px;
}
#sendbutton {
	width: 100%;
	background-color: #8b0e3a;
	color: white;
	padding: 10px;
}

#production  h5, p{
	 text-align: center;
}

#stores {
	background-color: #ebebe9;
padding: 20px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.store p, h5{
	text-align: left;
    
	

	
}

#map {
height: 300px;

}
.footer-menu ul {
	text-align: right;
}

.footer-menu ul li {

list-style-type: none;
display: inline-block;

}

.footer-menu ul li a {
	text-decoration: none;
	font-size: 14px;
	color: black;
	border-right: 1px solid #ebccd4;
	padding-right: 5px;
}

.footer {
	height: 300px;
}

@media (max-width: 576px) { 
.navbar-collapse {
	background-color: #ebebe9;
	padding: 10px;
}
 nav ul li {
	 border-bottom: 1px solid #ebccd4;
 }
 
 form {
	 margin-bottom: 10px;
 }

 }